<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "rambo"
	version 	= "1.0">

	<name>taco taco boondle</name>

	<description>
        Try out a minimum app!
	</description>

	<author href="http://adobe.com" email="rudd@adobe.com">
		Brett Rudd
	</author>
<!--<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-device" />
  	<plugin name="cordova-plugin-camera" />
	<plugin name="cordova-plugin-media" />-->
	<plugin name="cordova-plugin-geofence" /><!--
  	<plugin name="cordova-plugin-media" />
  	<plugin name="cordova-plugin-contacts" />
	<plugin name="cordova-plugin-appversion" />
	<plugin name="cordova-plugin-camera" />
	<plugin name="cordova-plugin-console" />
	<plugin name="cordova-plugin-contacts" />
	<plugin name="cordova-plugin-device" />
	<plugin name="cordova-plugin-dialogs" />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-file-transfer" />
	<plugin name="cordova-plugin-globalization" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-media" />
	<plugin name="cordova-plugin-media-capture" />
	<plugin name="cordova-plugin-network-information" />
	<plugin name="cordova-plugin-splashscreen" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="cordova-plugin-vibration" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="phonegap-plugin-barcodescanner" />
	
	<plugin name="phonegap-plugin-push" /> -->
	<preference name="target-device" value="handset" />
	<preference name="swift-version" value="2.3" />
	
  <!--<platform name="ios" />
  <platform name="android" />
  <platform name="windows"/>-->
  <!--<preference name="windows-appx-target" value="uap"/>
  <preference name="windows-arch" value="anycpu" />-->
  
  <preference name="deployment-target" value="10.0" />
  <preference name="phonegap-version" value="3.0.0" />
  <gap:splash src="splash-main.png" />
  <icon src="icon-main.png" />
  <!--<preference name="android-build-tool" value="gradle" />
  <preference name="android-minSdkVersion" value="15" />
  <preference name="android-versionCode" value="15" />-->
  
</widget>
