<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	        	= "http://www.w3.org/ns/widgets"
	xmlns:android   	= "http://schemas.android.com/apk/res/android"
	xmlns:gap		= "http://phonegap.com/ns/1.0"
	id			= "rambo"
	android-packageName    	= "com.example.rambo"
	ios-CFBundleIdentifier 	= "com.example.bloopla"
	version 		= "1.0.1">

	<name>taco-gradle-builder-1</name>

	<description>
        A minimum app!
	</description>

	<preference name="android-build-tool" value="gradle" />
  	<preference name="pgb-builder-version" value="1" />
</widget>
