<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:android   = "http://schemas.android.com/apk/res/android"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "rambo"
	version 	= "1.0">

	<name>taco taco boondle</name>

	<description>
        Try out a minimum app!
	</description>

	<author href="http://adobe.com" email="rudd@adobe.com">
		Brett Rudd
	</author>

  	<plugin name="cordova-plugin-inappbrowser" source="npm" version="1.0.1" />
	<plugin name="cordova-plugin-geolocation" spec=">=1" />
	<plugin spec="https://github.com/apache/cordova-plugin-camera.git#master" />
	<plugin name="cordova-plugin-device" spec="1.0.0" source="pgb" />
  	<plugin name="cordova-plugin-crosswalk-webview" />
  	<plugin name="cordova-plugin-geofence" />

  <platform name="ios" />
  <platform name="android" />
  <platform name="windows"/>
  <!--<preference name="windows-appx-target" value="8.1-phone"/>
  <preference name="windows-arch" value="anycpu" />-->
  
  <preference name="deployment-target" value="9.0" />
  <preference name="phonegap-version" value="cli-6.0.0" />
  <gap:splash src="splash-main.png" />
  <icon src="icon-main.png" />
  <preference name="android-build-tool" value="gradle" />
  <!--<preference name="android-minSdkVersion" value="15" />
  <preference name="android-versionCode" value="15" />-->
  
</widget>
